.spinner {
  display: block;
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
  border-radius: 50%;
  border-color: #fff transparent #fff transparent;
  animation: fetchSpinner 1.2s linear infinite;
}

@keyframes fetchSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
