
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.appTitle,
.appCredits {
  text-align: center;
  padding: 27px;
}

#container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 1400px;
  max-height: 600px;
  height: 100vh;
  margin: 50px auto;
}

#main {
  display: block;
  height: inherit;
  width: 100%;
  max-width: 1150px;
  max-height: inherit;
  background: #ababab;
  border: 4px solid #d0a85d;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 0 0 16px #696464a3;
}

#new-message {
  width: 100%;
  padding: 5px;
  margin-left: 0;
  border-top: 1px solid #9c8f8f;
  height: 75px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-message input {
  width: 100%;
  height: 50px;
  border: 0 solid #a2a0a0;
  border-radius: 5px;
  box-shadow: 0 3px 8px #776262;
  outline: none;
  padding: 10px;
  margin: 0 7px;
  font-size: 12px;
}

#new-message::before {
  content: '';
  width: 100%;
  height: 10%;
  position: absolute;
  box-shadow: inset -1px 3px 3px #7d7b7b;
  top: -1px;
  left: 0;
}

.middleSectionMain {
  height: calc(100% - 112px);
  width: inherit;
  display: block;
  max-height: 517px;
  /* padding: 10px; */
  position: relative;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100em;
  height: inherit;
  max-width: 250px;
  max-height: 600px;
  list-style: none;
  background: #d4d4d4;
  /* padding-bottom: 10px; */
  border: 4px solid #d0a85d;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 0 16px #696464a3;
  position: relative;
  left: 0%;
}

.titleSidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.sectionTitleWrap {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.sidebarSectionsContainer {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  transform: translateX(0);
  transition: all .3s ease-in-out;
}

#sidebar {
  overflow: hidden;
}

.sidebarSection {
  width: 238px;
}

.sectionTitle {
  color: white;
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

.chatTitle {
  padding-top: 0;
}

.usersList {
  width: 100%;
  /* margin-top: 5px; */
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 20px;
}

.usersList li {
  list-style: none;
  padding: 0 0 3px 0;
  color: #5a5454;
  max-width: 212px;
  text-overflow: ellipsis;
  word-break: normal;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  padding: 4px 0;
}

.messagesList {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  max-height: 480px;
  overflow-y: scroll;
  position: relative;
}

.messageWrap {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.message:first-child {
  margin-top: 10px;
}

.message:last-child {
  margin-bottom: 10px;
}

.authorContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 10px 0;
}

.authorDisconnected {
  opacity: .5;
}

.authorWrap {
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
}

.authorAvatar {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}

.messageTopSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  max-width: 250px;
  color: #fff;
}

.messageBottomSection {
  max-width: inherit;
  padding-top: 5px;
}

.messageTimestamp {
  font-size: 12px;
}

.authorName {
  font: inherit;
  font-weight: bold;
  padding-right: 10px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebarAuthorName {
  font-size: 14px;
}

.textWrap {
  color: #5a5454;
  padding-top: 5px;
  font-size: 14px;
}

.newUserConnectedWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
}

.newUserConnectedMessage {
  position: relative;
}

.newUsercurrentUserMessage {
  color: #e0d3ba;
  text-shadow: 0 0 5px #8a8888;
}

.newUserConnectedMessage::before,
.newUserConnectedMessage::after {
  content: "";
  width: 5vw;
  height: 4px;
  background: linear-gradient(90deg, transparent 0, #11111159);
  position: absolute;
  top: 0;
  bottom: 0;
}

.newUserConnectedMessage::before {
  left: -5px;
  transform: translateX(-110%) translateY(100%) skew(65deg, 0deg);
}

.newUserConnectedMessage::after {
  right: -5px;
  transform: scaleX(-1) translateX(-110%) translateY(100%) skew(65deg, 0deg);
}

.newUserConnectedTimestamp {
  font-size: 9px;
}

.boxShadowBefore {
  z-index: 100;
  display: block;
  content: "";
  width: calc(100% - 10px);
  height: 6px;
  top: 32px;
  left: 5px;
  position: absolute;
  box-shadow: 0 4px 5px -2px #2d2c2c;
  background: transparent;
  border: none;
}

.mainOverlay {
  filter: blur(10px);
  pointer-events: none;
  cursor: default;
  user-select: none;
}

.connectedUserOvelay,
.disconnectedUserOverlay {
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.connectedUserOvelay {
  animation-name: blurOverlayConnect;
  animation-duration: .5s;
  pointer-events: all;
  user-select: auto;
}

.disconnectedUserOverlay {
  animation-name: blurOverlayDisconnect;
  animation-duration: 2s;
}

.destroyBlurOverlay {
  animation-name: disableBlurOverlay;
  animation-duration: .5s;
  pointer-events: all;
  user-select: auto;
}

.popUpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50%;
  top: 50%;
  height: 100%;
  max-height: 115px;
  width: 100%;
  max-width: 280px;
  background: #fff;
  border: 3px solid #d0a85d;
  border-radius: 10px;
  box-shadow: 0 0 13px #ababab;
  text-align: center;
  box-sizing: border-box;
  animation-name: popupAppear;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.popUpContainer.error {
  border-color: red;
  color: red;
}

.popUpContainer.info {
  border-color: green;
  color: green;
}

.popUpContainer .debugText {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
  font-size: 13px;
}

.debugContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.debugContainer.spinner {
  padding-bottom: 0;
}

.loadingSpinner {
  opacity: 1;
}

.loadingPlaceholder {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0;
  left: 5px;
}

.placeholderText {
  align-self: center;
  color: #fff;
}

.debugButton {
  font-size: 14px;
  cursor: pointer;
  display: block;
  min-height: 26px;
  min-width: 63px;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  text-decoration: none;
  box-shadow: 0px 2px 5px #11111147;
  padding: 3px 5px;
  margin: 10px 5px 0 5px;
  background: #fff;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.debugButton:hover {
  background: red;
  color: #fff;
}

.sendMessageButton {
  display: block;
  height: 50px;
  background: green;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 77px;
  position: relative;
  position: absolute;
  right: 12px;
  background: #d6c9b1;
  transition: background .15s ease-in-out;
  color: #fff;
}

.sendMessageButton::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  top: 0;
  left: 0;
}

.sendMessageButtonActive {
  background: #d0a85d;
  cursor: pointer;
}

.topSectionMain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.asideButtonToggle {
  line-height: 1;
  background: transparent;
  display: none;
  outline: none;
  margin: 0;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.asideButtonToggleActive {
  background: #fff;
  color: #d0a85d;
  border: 1px solid #d0a85d;
}

.debugButtonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.connectionStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 22px;
  width: auto;
  position: relative;
  color: #fff;
  font-size: 10px;
  padding-right: 5px;
}

.connectionStatusText {
  white-space: nowrap;
}

.connectionStatusIcon {
  width: 6px;
  height: 6px;
  position: relative;
  top: .5px;
  border-radius: 100%;
  background: grey;
  margin: 7px;
}

.connectionStatusIconСonnected {
  background: #0b0;
}

.connectionStatusIconDisconnected {
  background: red;
}

.liveMessageWrap {
  color: #fff;
  padding: 5px;
  margin: 5px 7px;
  font-style: italic;
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.bottomSectionMain {
  opacity: 1;
}

.liveDots {
  width: 7px;
  height: auto;
  display: inline-block;
}

.liveDots::after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

.usersRoomCount {
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  padding-right: 4px;
}

@keyframes popupAppear {
  0% {
    transform: translateX(50%) translateY(-50%) scale(0);
    opacity: 0;
  }

  15% {
    transform: translateX(50%) translateY(-50%) scale(1);
    opacity: .5;
  }

  35% {
    transform: translateX(50%) translateY(-50%) scale(.5);
    opacity: 1;
  }

  55% {
    transform: translateX(50%) translateY(-50%) scale(1);
  }

  80% {
    transform: translateX(50%) translateY(-50%) scale(.75);
  }

  100% {
    transform: translateX(50%) translateY(-50%) scale(1);
  }
}
@keyframes blurOverlayConnect {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0);
  }
}
@keyframes blurOverlayDisconnect {
  0% {
    filter: blur(0);
  }

  100% {
    filter: blur(10px);
  }
}
@keyframes disableBlurOverlay {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0);
  }
}
@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: .25em 0 0 white, .5em 0 0 white;
  }
}

@media screen and (max-width: 550px) {
  .sidebar {
    position: absolute;
    left: -100%;
    transition: left .5s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 16px rgba(105, 100, 100, .63922), 27px 0 15px -8px rgba(17, 17, 17, .25882);
    max-width: calc(100% - 35%);
  }

  .sidebarListShow {
    left: 0%;
    z-index: 101;
  }

  #main {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .asideButtonToggle {
    display: block;
  }

  .connectionStatusText {
    display: none;
  }

  .usersRoomCount {
    display: none;
  }
}
